## USED CAR DATASET
The aim of this project is to clean the data and analyze the included used car listings.

In [16]:
import pandas as pd
import numpy as np

autos = pd.read_csv("autos.csv", encoding="Latin-1")

ImportError: cannot import name 'compat'

In [ ]:
autos

In [ ]:
print(autos.info())
print(autos.head())

#### Observations
- Dataset contains 50000 rows and 20 columns
- 5 integer columns and 15 object type
- Below columns have null values
    * vehicleType            44905 non-null object
    * gearbox                47320 non-null object
    * model                  47242 non-null object
    * fuelType               45518 non-null object
    * notRepairedDamage      40171 non-null object

In [ ]:
autos.columns

In [ ]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_in_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'no_of_pictures', 'postal_code',
       'last_seen']

autos.head()

### Column name changes
**yearOfRegistration** to **registration_year**  
**monthOfRegistration** to **registration_month**  
**notRepairedDamage** to **unrepaired_damage**  
**dateCreated** to **ad_created**  
**powerPS** to **power_in_ps**  
**nrOfPictures** to **no_of_pictures**  
and the rest of the columnn names from camelcase to snakecase.

In [ ]:
autos.describe(include='all')

### Columns that can be dropped
- seller
- offer_type

### Columns that needs to be converted to numeric
- price
- abtest
- odometer
- postal_code

In [ ]:
autos['price'] = autos['price'].str.replace(',', '')
autos['price'] = autos['price'].str.replace("$", "").astype('int')

autos['odometer'] = autos['odometer'].str.replace(',', '')
autos['odometer'] = autos['odometer'].str.replace("km", "").astype('int')
autos.rename(columns={"odometer": "odometer_km"}, inplace=True)

In [ ]:
autos['price'].value_counts().sort_index()
print(autos['price'].describe())

In [ ]:
autos_new = autos[autos['price'].between(1000,100000)]

In [ ]:
autos_new['price']

In [ ]:
autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

In [ ]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

In [ ]:
autos['date_created'].str[0:10].value_counts(normalize=True, dropna=False).sort_index()

In [ ]:
autos['registration_year'].describe()

In [ ]:
autos['registration_year'].between(1900,2016).value_counts(normalize=True)

In [ ]:
top_brands = autos['brand'].value_counts(normalize=True)[:20].index

In [ ]:
print(top_brands)

In [ ]:
top_brands_mean_price = {}
for brand in top_brands:
    top_brands_mean_price[brand] = autos.loc[autos['brand'] == brand, 'price'].mean()

print(top_brands_mean_price)

In [ ]:
bmp_series = pandas.series(top_brands_mean_price)